<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table>
  <thead>
    <tr>
      <th>Fwd msg to</th>
      <th>Msg from site</th>
      <th>Msg from email</th>
      <th>Msg from name</th>
      <th>Msg from ipaddress</th>
      <th>Msg subject</th>
      <th>Msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.fwd_msg_to %></td>
        <td><%= message.msg_from_site %></td>
        <td><%= message.msg_from_email %></td>
        <td><%= message.msg_from_name %></td>
        <td><%= message.msg_from_ipaddress %></td>
        <td><%= message.msg_subject %></td>
        <td><%= message.msg %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
