<!-- <p id="notice"><%#= notice %></p> -->

<div class="container style2">

<p>
  <strong>Forward to:</strong>
  <%= @message.fwd_msg_to %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @message.msg_from_site %>
</p>

<p>
  <strong>IPAddress:</strong>
  <%= @message.msg_from_ipaddress %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.msg_subject %>
</p>

<p>
  <strong>From email:</strong>
  <%= @message.msg_from_email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @message.msg_from_name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.msg %>
</p>

<%= button_to('Back', messages_path, method: :get, :class => 'btn btn-default', form: {style: "display:inline-block"})  %> | 
<td><%= button_to('Destroy', message_path, method: :delete, :class => 'btn btn-danger', data: { confirm: 'Are you sure?' }, form: {style: "display:inline-block"}) %></td>

</div>