<%= bootstrap_form_for(@user) do |f| %>

    <%= f.text_field :name, placeholder: "Your Name", autofocus: true %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.submit "Update", class: "btn btn-default form-btn" %>

<% end %>


<%= bootstrap_form_for(@user) do |f| %>

    <h3>Update Password</h3>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, placeholder: "Password", skip_label: true, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, placeholder: "Password", autocomplete: "off" %>
    <%= f.submit "Update Password", class: "btn btn-default form-btn" %>

<% end %>

  <h3>Cancel my account</h3>

  <%= button_to "Delete my account", @user, method: :delete, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger form-btn" %><br>

<br>