<div class="container form-session">

  <h2>Log in</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, placeholder: "Email", required: true %>
    <%= f.password_field :password, placeholder: "Password", required: true, autocomplete: "off", autofocus: true %>
    <% if devise_mapping.rememberable? -%>
      <%= f.form_group :remember_me do %>
        <%= f.check_box :remember_me, label: "Remember Me" %>
      <% end %>
    <% end -%>
    <%= f.submit "Log in", class: "btn btn-default form-btn" %>
  <% end %>

  <hr>
  <%= render "devise/shared/links" %>
  <hr>

</div>
<div class="container text-center">
  Check out
  <a href="https://github.com/jtlindsey/EasySWFSender" target="_blank" >EasySWFSender at Github</a>
  for documentation, questions and bug reports.
</div>