<!-- <p id="notice"><%#= notice %></p> -->

<div class="container style2">

<h1>Form Routes</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Site Page</th>
      <th>Fwd-To-Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formroutes.each do |formroute| %>
      <tr>
        <td><%= link_to "#{formroute.name}", formroute %></td>
        <td><%= formroute.key %></td>
        <td><%= link_to "#{formroute.page}", formroute %></td>
        <td><%= link_to "#{formroute.fwd_to_email}", formroute %></td>
        <td><%= link_to 'Destroy', formroute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to('New Form Route', new_formroute_path, method: :get, :class => 'btn btn-default')  %>

</div>