<p id="notice"><%= notice %></p>

<h1>Listing Formroutes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Page</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formroutes.each do |formroute| %>
      <tr>
        <td><%= formroute.name %></td>
        <td><%= formroute.key %></td>
        <td><%= formroute.page %></td>
        <td><%= formroute.user_id %></td>
        <td><%= link_to 'Show', formroute %></td>
        <td><%= link_to 'Edit', edit_formroute_path(formroute) %></td>
        <td><%= link_to 'Destroy', formroute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formroute', new_formroute_path %>
