<!-- <p id="notice"><%#= notice %></p> -->
<div class="container style2">

<p>
  <strong>Name:</strong>
  <%= @formroute.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @formroute.key %>
</p>

<p>
  <strong>Page:</strong>
  <%= @formroute.page %>
</p>

<p>
  <strong>Fwd-To-Email:</strong>
  <%= @formroute.fwd_to_email %>
</p>

<div>
  <%= button_to('Edit', edit_formroute_path(@formroute), method: :get, :class => 'btn btn-default', form: {style: "display:inline-block"})  %> | 
  <%= button_to('Back', formroutes_path, method: :get, :class => 'btn btn-default', form: {style: "display:inline-block"})  %>
</div>

</div>