<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @formroute.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @formroute.key %>
</p>

<p>
  <strong>Page:</strong>
  <%= @formroute.page %>
</p>

<%= link_to 'Edit', edit_formroute_path(@formroute) %> |
<%= link_to 'Back', formroutes_path %>
